<div class="contentWrapper" ng-controller="StoEckdatenCtrl as ctrl">
	<form id="stoEckdaten" onsubmit="return false;">
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="stgkz">Stg KZ</label>
					<input type="text" class="form-control input-sm" name="stgkz" value="{{ctrl.data.stgkz}}" disabled/>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="bezeichnung">Studiengangbezeichnung</label>
					<input type="text" class="form-control input-sm" name="bezeichnung" ng-model="ctrl.data.studiengangbezeichnung"/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label for="kurzbz">Studiengangskurzbezeichnung</label>
					<input type="text" class="form-control input-sm" name="kurzbz" ng-model="ctrl.data.studiengangkurzbzlang"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="art">Studiengangsart</label>
					<input type="text" class="form-control input-sm" name="art" ng-model="ctrl.data.studiengangsart"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="akadGrad">Akademischer Grad</label>
					<select class="form-control input-sm" name="akadGrad" ng-model="ctrl.data.akadgrad_id">
						<option ng-repeat="akadGrad in ctrl.akadGradList" value="{{akadGrad.akadgrad_id}}">{{akadGrad.titel}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="orgform">Orgform</label>
					<select class="form-control input-sm" name="orgform" ng-model="ctrl.data.orgform_kurzbz">
						<option ng-repeat="orgform in ctrl.orgformList">{{orgform.orgform_kurzbz}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="gueltigbis">Standort</label>
					<select class="form-control input-sm" name="gueltigbis" ng-model="ctrl.data.standort_id">
						<option ng-repeat="standort in ctrl.standortList" value="{{standort.standort_id}}">{{standort.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" ng-show="ctrl.data.status_kurzbz == 'development'">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>