<div class="contentWrapper" ng-controller="StoEckdatenCtrl as ctrl">
	<form id="stoEckdaten" onsubmit="return false;" name="form" novalidate>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="stgkz">StgKz</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="stgkz" value="{{ctrl.data.stgkz}}" disabled/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Die Studiengangskennzahl kann nicht geändert werden."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="bezeichnung">Studiengangbezeichnung</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="bezeichnung" ng-model="ctrl.data.studiengangbezeichnung"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Die bestehende oder die aufgrund der Änderung neue Studiengangsbezeichnung eingeben."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="kurzbz">Studiengangskurzbezeichnung</label>
					<div class="input-group">
						<div class="input-group-addon">{{ctrl.data.studiengangsart.substring(0,1)}}</div>
						<input characters-only="upperCase" type="text" maxlength="8" class="form-control input-sm" name="kurzbz" ng-model="ctrl.data.studiengangkurzbzlang"/>
						<div class="input-group-addon">{{(7-ctrl.data.studiengangkurzbzlang.length)}}</div>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Die bestehende oder die aufgrund der Änderung neue Studiengangskurzbezeichnung eingeben. Die Kurzbezeichnung besteht - üblicherweise aus drei - Großbuchstaben."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="bezeichnungeng">Studiengangbezeichnung Englisch</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="bezeichnungeng" ng-model="ctrl.data.studiengangbezeichnung_englisch"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Die bestehende oder die aufgrund der Änderung neue Studiengangsbezeichnung eingeben."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && form.art.$error.required)}">
					<label for="art">Studiengangsart</label>
					<select class="form-control input-sm" name="art" ng-model="ctrl.data.studiengangsart" required disabled>
						<option ng-repeat="stgArt in ctrl.studiengangartList" value="{{stgArt.typ}}">{{stgArt.bezeichnung}}</option>
					</select>
					<!--<input strip-html type="text" class="form-control input-sm" name="art" ng-model="ctrl.data.studiengangsart"/>-->
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="akadGrad">Akademischer Grad</label>
					<div class="input-group">
						<select class="form-control input-sm" name="akadGrad" ng-model="ctrl.data.akadgrad_id">
							<option ng-repeat="akadGrad in ctrl.akadGradList" value="{{akadGrad.akadgrad_id}}">{{akadGrad.titel}}</option>
						</select>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Für technische Studiengänge ist 'Bachelor of Science in Engineering' oder 'Master of Science in Engineering' auszuwählen."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="orgform">Orgform</label>
					<input strip-html type="text" class="form-control input-sm" name="art" ng-model="ctrl.data.orgform" disabled/>
					<!--<select class="form-control input-sm" name="orgform" ng-model="ctrl.data.orgform_kurzbz">
						<option ng-repeat="orgform in ctrl.orgformList">{{orgform.orgform_kurzbz}}</option>
					</select>-->
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="standort">Standort</label>
					<select class="form-control input-sm" name="standort" ng-model="ctrl.data.standort_id">
						<option ng-repeat="standort in ctrl.standortList" value="{{standort.standort_id}}">{{standort.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>