<div class="contentWrapper"  ng-controller="StplEckdatenCtrl as ctrl">
	<form id="stplEckdaten" action="#" onsubmit="return false;">
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="regelstudiendauer">Regelstudiendauer</label>
					<input integer-only="positive" type="text" class="form-control input-sm" name="regelstudiendauer" ng-model="ctrl.data.regelstudiendauer"/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label for="ects">ECTS</label>
					<input numeric-only='positive' type="text" class="form-control input-sm" name="ects" ng-model="ctrl.data.ects_stpl"/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label for="sws">Pflicht-SWS</label>
					<input integer-only="positive" type="text" class="form-control input-sm" name="sws" ng-model="ctrl.data.pflicht_sws"/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label for="lvs">Pflicht-LVS</label>
					<input integer-only="positive" type="text" class="form-control input-sm" name="lvs" ng-model="ctrl.data.pflicht_lvs"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="sprache">Sprache</label>
					<select class="form-control input-sm" name="sprache" ng-model="ctrl.data.sprache">
						<option ng-repeat="sprache in ctrl.spracheList" value="{{sprache.sprache}}">{{sprache.bezeichnung_arr.German}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="spracheKommentar">Sprache Kommentar</label>
					<input strip-html type="text" class="form-control input-sm" name="spracheKommentar" ng-model="ctrl.data.sprache_kommentar"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="erlaeuterungen">Erläuterungen zum Studienplan</label>
					<textarea strip-html class="form-control input-sm" rows="5" name='erlaeuterungen' ng-model="ctrl.data.erlaeuterungen"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>