<div class="contentWrapper" ng-controller="StgBewerbungCtrl as ctrl">
	<div class="col-sm-2">
		<label>&nbsp;</label>
		<div>
			<button class='btn btn-default btn-sm' ng-click='ctrl.newBewerbungstermin()' id="newBewerbungstermin">neue Bewerbungsfrist</button>
		</div>
	</div>
	<div class="col-sm-2">
		<label>Studiensemester</label>
		<select class="form-control input-sm" ng-change="ctrl.loadDataGrid()" ng-model="ctrl.selectedStudiensemester">
			<option ng-repeat="sem in ctrl.studiensemesterList" value="{{sem.studiensemester_kurzbz}}">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
		</select>
	</div>
	</br>
	</br>
	</br>
	</br>
	<table id="dataGridBewerbungstermin" class="easyui-datagrid" style='height: 200px;'>

	</table>
	</br>
	<form id="bewerbungsterminDetails" name="form" onsubmit="return false;" style="display: none;" novalidate>
		<!-- Zeile 1 -->
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="bewerbungstermin_id">ID</label>
					<input type="hidden" class="form-control input-sm" name="bewerbungstermin_id" value="{{ctrl.bewerbungstermin.bewerbungstermin_id}}" disabled/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="stgkz">Stg KZ</label>
					<input type="hidden" class="form-control input-sm" name="stgkz" value="{{ctrl.bewerbungstermin.studiengang_kz}}" disabled/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && form.studiensemester.$error.required)}">
					<label for="studiensemester">Studiensemester</label>
					<select class="form-control input-sm" name="studiensemester" ng-model="ctrl.bewerbungstermin.studiensemester_kurzbz" required>
						<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && form.studienplan.$error.required)}">
					<label for="studienplan">Studienplan</label>
					<select class="form-control input-sm" name="studienplan" ng-model="ctrl.bewerbungstermin.studienplan_id" required>
						<option ng-repeat="stpl in ctrl.studienplanList" value="{{stpl.studienplan_id}}">{{stpl.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<!-- Zeile 2 -->
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && (form.beginn.$error.required || form.beginn.$error.date))}">
					<label for="beginn">Beginn Bewerbungsfrist</label>
					<input id="datepicker_beginn" type="date" class="form-control input-sm" name="beginn" ng-model="ctrl.bewerbungstermin.beginn" required/>
					<span ng-show="form.beginn.$error.date">Kein gültiges Datum!</span>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && (form.ende.$error.required || form.ende.$error.date))}">
					<label for="ende">Ende Bewerbungsfrist</label>
					<input id="datepicker_ende" type="date" class="form-control input-sm" name="ende" ng-model="ctrl.bewerbungstermin.ende" required/>
					<span ng-show="form.ende.$error.date">Kein gültiges Datum!</span>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="checkbox">
					</br>
					<label>
					  <input type="checkbox" name="nachfrist" ng-model="ctrl.bewerbungstermin.nachfrist"/>
					  Nachfrist
					</label>
				  </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && (form.nachfrist_ende.$error.required || form.nachfrist_ende.$error.date))}">
					<label for="nachfrist_ende">Nachfrist Ende</label>
					<input id="nachfrist_ende" type="date" class="form-control input-sm datepicker" name="nachfrist_ende" ng-model="ctrl.bewerbungstermin.nachfrist_ende"/>
					<span ng-show="form.nachfrist_ende.$error.date">Kein gültiges Datum!</span>
				</div>
			</div>
		</div>
		<!-- Zeile 3 -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label for="anmerkung">Anmerkung</label>
					<textarea strip-html class="form-control input-sm" rows="5" name='anmerkung' ng-model="ctrl.bewerbungstermin.anmerkung"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<div>
						<button id="update" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.update()">Speichern</button>
						<button id="save" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()" style="display:none;">Speichern</button>
						<button id="delete" type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.delete()">Löschen</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>