<div class="contentWrapper" ng-controller="StgBewerbungCtrl as ctrl">
	<div class="col-sm-2">
		<label>&nbsp;</label>
		<div>
			<button class='btn btn-default btn-sm' ng-click='ctrl.newBewerbungstermin()' id="newBewerbungstermin">neuer Bewerbungstermin</button>
		</div>
	</div>
	<div class="col-sm-2">
		<label>Studiensemester</label>
		<select class="form-control input-sm" ng-change="ctrl.loadDataGrid()" ng-model="ctrl.selectedStudiensemester">
			<option ng-repeat="sem in ctrl.studiensemesterList" value="{{sem.studiensemester_kurzbz}}">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
		</select>
	</div>
	</br>
	</br>
	</br>
	</br>
	<table id="dataGridBewerbungstermin" class="easyui-datagrid" data-options="url: '', method: 'get', singleSelect:true" style='height: 200px;'>
		<thead>
			<tr>
				<th data-options="field: 'bewerbungstermin_id',align: 'right'"><span class="table-header">ID</span></th>
				<th data-options="field: 'studiengang_kz',align:'right', sortable: 'true'"><span class="table-header">STG KZ</span></th>
				<th data-options="field: 'studiensemester_kurzbz',align:'right', sortable: 'true'"><span class="table-header">Studiensemester</span></th>
				<th data-options="field: 'beginn',align:'left'"><span class="table-header">Beginn</span></th>
				<th data-options="field: 'ende',align:'left'"><span class="table-header">Ende</span></th>
				<th data-options="field: 'nachfrist',align:'left'"><span class="table-header">Nachfrist</span></th>
				<th data-options="field: 'nachfrist_ende',align:'left'"><span class="table-header">Ende Nachfrist</span></th>
			</tr>
		</thead>
	</table>
	</br>
	<form id="bewerbungsterminDetails" onsubmit="return false;" style="display: none;">
		<!-- Zeile 1 -->
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="bewerbungstermin_id">ID</label>
					<input type="hidden" class="form-control input-sm" name="bewerbungstermin_id" value="{{ctrl.bewerbungstermin.bewerbungstermin_id}}" disabled/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="stgkz">Stg KZ</label>
					<input type="hidden" class="form-control input-sm" name="stgkz" value="{{ctrl.bewerbungstermin.studiengang_kz}}" disabled/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="studiensemester">Studiensemester</label>
					<select class="form-control input-sm" name="studiensemester" ng-model="ctrl.bewerbungstermin.studiensemester_kurzbz">
						<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="studiengang">Studiengang</label>
					<select class="form-control input-sm" name="studiengang" ng-model="ctrl.bewerbungstermin.studiengang_kz">
						<option ng-repeat="stg in ctrl.studiengangList" value="{{stg.studiengang_kz}}">{{stg.kurzbzlang}} - {{stg.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<!-- Zeile 2 -->
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn">Beginn</label>
					<input type="text" class="form-control input-sm datepicker" name="beginn" ng-model="ctrl.bewerbungstermin.beginn"/>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende">Ende</label>
					<input type="text" class="form-control input-sm datepicker" name="ende" ng-model="ctrl.bewerbungstermin.ende"/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="checkbox">
					</br>
					<label>
					  <input type="checkbox" name="nachfrist" ng-model="ctrl.bewerbungstermin.nachfrist"/>
					  Nachfrist
					</label>
				  </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="nachfrist_ende">Nachfrist Ende</label>
					<input type="text" class="form-control input-sm datepicker" name="nachfrist_ende" ng-model="ctrl.bewerbungstermin.nachfrist_ende"/>
				</div>
			</div>
		</div>
		<!-- Zeile 3 -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label for="anmerkung">Anmerkung</label>
					<input type="text" class="form-control input-sm" name="anmerkung" ng-model="ctrl.bewerbungstermin.anmerkung"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<div>
						<button id="update" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.update()">Speichern</button>
						<button id="save" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()" style="display:none;">Speichern</button>
						<button id="delete" type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.delete()">Löschen</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>