<div class="contentWrapper" ng-controller="StplMetadatenCtrl as ctrl">
	<form id="stplMetadaten" action="#" onsubmit="return false;">
		<div class="row">
			<!--<div class="col-sm-2">
				<div class="form-group">
					<label for="version">Version</label>
					<input type="text" class="form-control"  name="version" value="{{ctrl.data.version}}" disabled/>
				</div>
			</div>-->
			<div class="col-sm-4">
				<div class="form-group">
					<label for="bezeichnung">Version</label>
					<input type="text" class="form-control"  name="bezeichnung" ng-model="ctrl.data.bezeichnung"/>
				</div>
			</div>
		</div>
		<div class="row">
			<!--<div class="col-sm-2">
				<div class="form-group">
					<label for="regelstudiendauer">Regelstudiendauer</label>
					<input type="text" class="form-control"  name="regelstudiendauer" ng-model="ctrl.data.regelstudiendauer"/>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="semesterwochen">Semesterwochen</label>
					<input type="text" class="form-control"  name="semesterwochen" ng-model="ctrl.data.semesterwochen"/>
				</div>
			</div>-->
			<div class="col-sm-2">
				<div class="form-group">
					<label for="orgform">Orgform</label>
					<select class="form-control" name="orgform" ng-model="ctrl.data.orgform_kurzbz">
						<option ng-repeat="orgform in ctrl.orgformList">{{orgform.orgform_kurzbz}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="checkbox">
					<label>
					  <input type="checkbox" name="aktiv" ng-model="ctrl.data.aktiv"/>
					  Aktiv
					</label>
				  </div>
			</div>
			<div class="col-sm-2">
				<div class="checkbox">
					<label>
						<input id="testToolSprachwahl" type="checkbox" name="testToolSprachwahl" ng-model="ctrl.data.testtool_sprachwahl"/>
						Testtool Sprachwahl
					</label>
				  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-default" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>