<div class="contentWrapper" ng-controller="StplMetadatenCtrl as ctrl">
	<form id="stplMetadaten" action="#" onsubmit="return false;">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="bezeichnung">Version</label>
					<input strip-html type="text" class="form-control input-sm"  name="bezeichnung" ng-model="ctrl.data.bezeichnung" required/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="orgform">Orgform</label>
					<select class="form-control input-sm" name="orgform" ng-model="ctrl.data.orgform_kurzbz" required>
						<option ng-repeat="orgform in ctrl.orgformList">{{orgform.orgform_kurzbz}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>