<div class="contentWrapper" ng-controller="StoTaetigkeitsfelderCtrl as ctrl">
	<form id="stoTaetigkeitsfelder" onsubmit="return false;">
		<div class="row">
			<div class="col-sm-8">
				<h4>Überblick</h4>
				<div class="form-group">
					<textarea strip-html class="form-control input-sm" rows="10" name='ueberblick' ng-model="ctrl.data.ueberblick"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<h4>Branchen und Sektoren</h4>
				<textarea strip-html type="text" class="form-control input-sm" placeholder="" ng-model="ctrl.data.data.branchen.fixed"></textarea>
				<div class="input-group">
					<input strip-html type="text" class="form-control input-sm" placeholder="" ng-model="ctrl.temp.branchen"/>
					<span class="input-group-btn">
						<button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.addListItem('list_branchen', 'branchen')">Aufzählung hinzufügen</button>
					</span>
				</div>
				<ul id="list_branchen" class="list-group">
					
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<h4>Positionen und Funktionen</h4>
				<textarea strip-html type="text" class="form-control input-sm" placeholder="" ng-model="ctrl.data.data.positionen.fixed"></textarea>
				<div class="input-group">
					<input strip-html type="text" class="form-control input-sm" placeholder="" ng-model="ctrl.temp.positionen"/>
					<span class="input-group-btn">
						<button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.addListItem('list_positionen', 'positionen')">Aufzählung hinzufügen</button>
					</span>
				</div>
				<ul id="list_positionen" class="list-group">
					
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<h4>Aufgaben und Tätigkeiten</h4>
				<textarea strip-html type="text" class="form-control input-sm" placeholder="" ng-model="ctrl.data.data.aufgaben.fixed"></textarea>
				<div class="input-group">
					<input strip-html type="text" class="form-control input-sm" placeholder="" ng-model="ctrl.temp.aufgaben"/>
					<span class="input-group-btn">
						<button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.addListItem('list_aufgaben', 'aufgaben')">Aufzählung hinzufügen</button>
					</span>
				</div>
				<ul id="list_aufgaben" class="list-group">
					
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<div>
						<button id="save" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>