<div class="contentWrapper" ng-controller="StgReihungstestCtrl as ctrl">
	<div class="col-sm-2">
		<label>&nbsp;</label>
		<div>
			<button class='btn btn-default btn-sm' ng-click='ctrl.newReihungstest()' id="newReihungstest">neuer Reihungstest</button>
		</div>
	</div>
	<div class="col-sm-2">
		<label>Studiensemester</label>
		<select class="form-control input-sm" ng-change="ctrl.loadDataGrid()" ng-model="ctrl.selectedStudiensemester">
			<option ng-repeat="sem in ctrl.studiensemesterList" value="{{sem.studiensemester_kurzbz}}">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
		</select>
	</div>
	</br>
	</br>
	</br>
	</br>
	<table id="dataGridReihungstest" class="easyui-datagrid" style='height: 200px;'>
	</table>
	</br>
	<form id="reihungstestDetails" name="form" onsubmit="return false;" style="display: none;" novalidate>
		<!-- Zeile 1 -->
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="reihungstest_id">ID</label>
					<input type="hidden" class="form-control input-sm" name="reihungstest_id" value="{{ctrl.reihungstest.reihungstest_id}}" disabled/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="stgkz">Stg KZ</label>
					<input type="hidden" class="form-control input-sm" name="stgkz" value="{{ctrl.reihungstest.studiengang_kz}}" disabled/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && form.studiensemester.$error.required)}">
					<label for="studiensemester">Studiensemester</label>
					<select class="form-control input-sm" name="studiensemester" ng-model="ctrl.reihungstest.studiensemester_kurzbz" required>
						<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && form.ort.$error.required)}">
					<label for="ort">Ort</label>
					<select class="form-control input-sm" name="ort" ng-model="ctrl.reihungstest.ort_kurzbz" required>
						<option ng-repeat="ort in ctrl.ortList">{{ort.ort_kurzbz}}</option>
					</select>
				</div>
			</div>
		</div>
		<!-- Zeile 2 -->
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && (form.datum.$error.required || form.datum.$error.date))}">
					<label for="datum">Datum</label>
					<input strip-html type="date" class="form-control input-sm" name="datum" ng-model="ctrl.reihungstest.datum" required/>
					<span ng-show="form.datum.$error.date">Kein gültiges Datum!</span>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group" ng-class="{'has-error': (form.$submitted && (form.uhrzeit.$error.required || form.uhrzeit.$error.time))}">
					<label for="uhrzeit">Uhrzeit</label>
					<input type="time" class="form-control input-sm" name="uhrzeit" placeholder="HH:mm" ng-model="ctrl.reihungstest.uhrzeit" required/>
					<span ng-show="form.uhrzeit.$error.time">Keine gültige Uhrzeit!</span>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="maxTeilnehmer">max. TeilnehmerInnen</label>
					<input integer-only="positive" type="text" class="form-control input-sm" name="maxTeilnehmer" ng-model="ctrl.reihungstest.max_teilnehmer"/>
				</div>
			</div>
		</div>
		<!-- Zeile 3 -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label for="anmerkung">Anmerkung</label>
					<textarea strip-html class="form-control input-sm" rows="5" name='anmerkung' ng-model="ctrl.reihungstest.anmerkung"></textarea>
				</div>
			</div>
		</div>
		<!-- Zeile 4 -->
		<div class="row">
			<div class="col-sm-1">
				<div class="checkbox">
					<label>
					  <input type="checkbox" name="oeffentlich" ng-model="ctrl.reihungstest.oeffentlich"/>
					  öffentlich
					</label>
				  </div>
			</div>
			<div class="col-sm-1">
				<div class="checkbox">
					<label>
					  <input type="checkbox" name="freigeschaltet" ng-model="ctrl.reihungstest.freigeschaltet"/>
					  freigeschaltet
					</label>
				  </div>
			</div>
		</div>
		<!-- Zeile 5 -->
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<div>
						<button id="update" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.update()">Speichern</button>
						<button id="save" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()" style="display:none;">Speichern</button>
						<button id="delete" type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.delete()">Löschen</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>