<div class="contentWrapper" ng-controller="StgReihungstestCtrl as ctrl">
	<div class="col-sm-2">
		<label>&nbsp;</label>
		<div>
			<button class='btn btn-default btn-sm' ng-click='ctrl.newReihungstest()' id="newReihungstest">neuer Reihungstest</button>
		</div>
	</div>
	<div class="col-sm-2">
		<label>Studiensemester</label>
		<select class="form-control input-sm" ng-change="ctrl.loadDataGrid()" ng-model="ctrl.selectedStudiensemester">
			<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
		</select>
	</div>
	</br>
	</br>
	</br>
	</br>
	<table id="dataGridReihungstest" class="easyui-datagrid" data-options="url: '', method: 'get', singleSelect:true" style='height: 200px;'>
		<thead>
			<tr>
				<th data-options="field: 'reihungstest_id',align: 'right'">ID</th>
				<th data-options="field: 'studiengang_kz',align:'right'">STG KZ</th>
				<th data-options="field: 'ort_kurzbz',align:'right'">Ort</th>
				<th data-options="field: 'anmerkung',align:'left'">Anmerkung</th>
				<th data-options="field: 'datum',align:'left'">Datum</th>
				<th data-options="field: 'uhrzeit',align:'left'">Uhrzeit</th>
				<th data-options="field: 'max_teilnehmer',align:'left'">max Teilnehmer</th>
				<th data-options="field: 'freigeschaltet',align:'left'">freigeschaltet</th>
				<th data-options="field: 'oeffentlich',align:'left'">öffentlich</th>
				<th data-options="field: 'studiensemester_kurzbz',align:'left'">Studiensemester</th>
			</tr>
		</thead>
	</table>
	</br>
	<form id="reihungstestDetails" onsubmit="return false;" style="display: none;">
		<!-- Zeile 1 -->
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="reihungstest_id">ID</label>
					<input type="hidden" class="form-control input-sm" name="reihungstest_id" value="{{ctrl.reihungstest.reihungstest_id}}" disabled/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label class="sr-only" for="stgkz">Stg KZ</label>
					<input type="hidden" class="form-control input-sm" name="stgkz" value="{{ctrl.reihungstest.studiengang_kz}}" disabled/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="studiensemester">Studiensemester</label>
					<select class="form-control input-sm" name="studiensemester" ng-model="ctrl.reihungstest.studiensemester_kurzbz">
						<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<!--TODO ORT aus DB laden-->
				<div class="form-group">
					<label for="ort">Ort</label>
					<input type="text" class="form-control input-sm" name="ort" ng-model="ctrl.reihungstest.ort_kurzbz"/>
				</div>
			</div>
		</div>
		<!-- Zeile 2 -->
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="datum">Datum</label>
					<input type="text" class="form-control input-sm" name="datum" ng-model="ctrl.reihungstest.datum"/>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label for="uhrzeit">Uhrzeit</label>
					<input type="text" class="form-control input-sm" name="uhrzeit" ng-model="ctrl.reihungstest.uhrzeit"/>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="maxTeilnehmer">max Teilnehmer</label>
					<input type="text" class="form-control input-sm" name="maxTeilnehmer" ng-model="ctrl.reihungstest.max_teilnehmer"/>
				</div>
			</div>
		</div>
		<!-- Zeile 3 -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label for="anmerkung">Anmerkung</label>
					<input type="text" class="form-control input-sm" name="anmerkung" ng-model="ctrl.reihungstest.anmerkung"/>
				</div>
			</div>
		</div>
		<!-- Zeile 4 -->
		<div class="row">
			<div class="col-sm-1">
				<div class="checkbox">
					<label>
					  <input type="checkbox" name="oeffentlich" ng-model="ctrl.reihungstest.oeffentlich"/>
					  öffentlich
					</label>
				  </div>
			</div>
			<div class="col-sm-1">
				<div class="checkbox">
					<label>
					  <input type="checkbox" name="freigeschaltet" ng-model="ctrl.reihungstest.freigeschaltet"/>
					  freigeschaltet
					</label>
				  </div>
			</div>
		</div>
		<!-- Zeile 5 -->
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<div>
						<button id="update" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.update()">Speichern</button>
						<button id="save" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()" style="display:none;">Speichern</button>
						<button id="delete" type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.delete()">Löschen</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>