<div class="contentWrapper" ng-controller="StplLehrveranstaltungCtrl as stplCtrl">
	<script type="text/javascript">
        function format(value){
            return '<img src="./css/modul.png" style="width:16px;height:18px;vertical-align:bottom"/>'+value;
        }
    </script>
	<div id="stplTree">
		<table id="stplTreeGrid" class="easyui-treegrid" 
			   data-options="
					url: '',
					method: 'get',
					rownumbers: true,
					idField: 'id',
					treeField: 'name',
					fit: true,
					onContextMenu: function(e ,row)
					{
						if (row){
							console.log(row);
							console.log($(this).treegrid('select', row.id));
							e.preventDefault();
							$(this).treegrid('select', row.id);
							$('#stplTreeGridContextMenu').menu('show');
							$('#stplTreeGridContextMenu').menu('show',{
								left: e.pageX,
								top: e.pageY
							});                
						}
					}
				">
			<thead>
				<tr>
					<th data-options="field: 'name', editor:'text'" width="300">Lehrveranstaltung</th>
					<th data-options="field: 'ects',align: 'right', editor:'numberbox'">ECTS</th>
					<th data-options="field: 'semesterstunden',align: 'right', editor:'numberbox'">Semesterstunden</th>
					<th data-options="field: 'lehrform_kurzbz',align: 'right', editor:'text'">Lehrform</th>
					<th data-options="field: 'lvnr',align: 'right', editor:'numberbox'">LVNR</th>
					<th data-options="field: 'benotung',align: 'right', editor:'checkbox'">Benotung</th>
					<th data-options="field: 'zeugnis',align: 'right', editor:'checkbox'">Zeugnis</th>
					<th data-options="field: 'lvinfo',align: 'right', editor:'checkbox'">LV-Info</th>
				</tr>
			</thead>
		</table>
		<div id="stplTreeGridContextMenu" class="easyui-menu" style="width:120px;">
			<div ng-click='stplCtrl.removeStudienplanLehrveranstaltung()' data-options="iconCls:'icon-remove'">Remove</div>
		</div>
	</div>
	<div id="lvTree">
		<div id="stplLvFilter">
			<div class="col-sm-10">
				<div class="form-group form-group-sm">
					<label for="oe">Organisationseinheit</label>
					<select id="oe" class="form-control input-sm" name="oe" ng-model="stplCtrl.oe_kurzbz">
						<option ng-repeat="oe in stplCtrl.oeList" value="{{oe.oe_kurzbz}}">{{oe.organisationseinheittyp_kurzbz}} - {{oe.bezeichnung}}</option>
					</select></br>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="form-group form-group-sm">
					<label for="lehrtyp">Lehrtyp</label>
					<select id="lehrtyp" class="form-control input-sm" name="lehrtyp" ng-model="stplCtrl.lehrtyp_kurzbz">
						<option ng-repeat="lehrtyp in stplCtrl.lehrtypList" value="{{lehrtyp.lehrtyp_kurzbz}}">{{lehrtyp.bezeichnung}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group form-group-sm">
					<label for="semester">Semester</label>
					<select id="semester" class="form-control input-sm" name="semester" ng-model="stplCtrl.semester">
						<option ng-repeat="sem in stplCtrl.semesterList" value="{{sem.key}}">{{sem.value}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group form-group-sm">
					<label>&nbsp;</label>
					<div>
						<button type="submit" class="btn btn-default btn-sm" ng-click="stplCtrl.loadLehrveranstaltungen()">Filtern</button>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group form-group-sm">
					<label>&nbsp;</label>
					<div>
						<button type="submit" class="btn btn-default btn-sm" ng-click="stplCtrl.dialog()">Neu</button>
					</div>
				</div>
			</div>
		</div>
		<table id="lvTreeGrid" class="easyui-treegrid" data-options="
					url: '',
					method: 'get',
					rownumbers: true,
					idField: 'id',
					treeField: 'name',
					fit: true
				">
			<thead>
				<tr>
					<th data-options="field: 'name'" width="250">Lehrveranstaltung</th>
					<th data-options="field: 'ects',align: 'right'">ECTS</th>
					<th data-options="field: 'lehrform_kurzbz',align: 'right'">Lehrform</th>
				</tr>
			</thead>
		</table>
	</div>
	<div id="lvMetadata">
		<div class="row">
			<div class="col-sm-10">
				<span class="spanTitle">{{stplCtrl.meta.name}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<span>ECTS: </span><span>{{stplCtrl.meta.ects}}</span>
			</div>
			<div class="col-sm-1">
				<span>Semesterstd: </span><span>{{stplCtrl.meta.semesterstunden}}</span>
			</div>
			<div class="col-sm-1">
				<span>LVNR: </span><span>{{stplCtrl.meta.lvnr}}</span>
			</div>
			<div class="col-sm-1">
				<span>Lehrform: </span><span>{{stplCtrl.meta.lehrform_kurzbz}}</span>
			</div>
			<div class="col-sm-1">
				<span>Kurzbz: </span><span>{{stplCtrl.meta.kurzbz}}</span>
			</div>
			<div class="col-sm-1">
				<span>Semester: </span><span>{{stplCtrl.meta.semester}}</span>
			</div>
			<div class="col-sm-1">
				<span>Sprache: </span><span>{{stplCtrl.meta.sprache}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<span>Bezeichnung Englisch: </span><span>{{stplCtrl.meta.bezeichnung_english}}</span>
			</div>
			<div class="col-sm-1">
				<span>Orgform: </span><span>{{stplCtrl.meta.orgform_kurzbz}}</span>
			</div>
			<div class="col-sm-1">
				<span>Incoming: </span><span>{{stplCtrl.meta.incoming}}</span>
			</div>
			<div class="col-sm-3">
				<span>OE: </span><span>{{stplCtrl.meta.oe}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<span>Semesterwochen: </span><span>{{stplCtrl.meta.semesterwochen}}</span>
			</div>
			<div class="col-sm-1">
				<span>SWS: </span><span>{{stplCtrl.meta.sws}}</span>
			</div>
			<div class="col-sm-1">
				<span>LVS: </span><span>{{stplCtrl.meta.lvs}}</span>
			</div>
			<div class="col-sm-1">
				<span>ALVS: </span><span>{{stplCtrl.meta.alvs}}</span>
			</div>
			<div class="col-sm-1">
				<span>LVPS: </span><span>{{stplCtrl.meta.lvps}}</span>
			</div>
			<div class="col-sm-1">
				<span>LAS: </span><span>{{stplCtrl.meta.las}}</span>
			</div>
		</div>
	</div>
	<div id="dialog" title="Neue Lehrveranstaltung anlegen">

	</div>
</div>