<div class="contentWrapper" ng-controller="NewLehrveranstaltungCtrl as newLvCtrl">
	<div class="col-sm-6">
		<form id="stplMetadaten" name="form" novalidate>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.lehrtyp.$error.required)}">
						<label for="lehrtyp">Lehrtyp*</label>
						<select class="form-control input-sm" name="lehrtyp" ng-model="newLvCtrl.data.lehrtyp_kurzbz" ng-change="newLvCtrl.onLehrtypChange()" required ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="lehrtyp in newLvCtrl.lehrtypList" value="{{lehrtyp.lehrtyp_kurzbz}}">{{lehrtyp.bezeichnung}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.lehrform.$error.required)}">
						<label for="lehrvorm">Lehrform*</label>
						<select class="form-control input-sm" name="lehrform" ng-model="newLvCtrl.data.lehrform_kurzbz" ng-change="newLvCtrl.setLehrformDependencies()" required ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="lehrform in newLvCtrl.lehrformList" value="{{lehrform.lehrform_kurzbz}}">{{lehrform.bezeichnung}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.kurzbz.$error.required)}">
						<label for="kurzbz">Kurzbz*</label>
						<input characters-only="" strip-html type="text" class="form-control input-sm" name="kurzbz" ng-model="newLvCtrl.data.kurzbz" required ng-disabled="newLvCtrl.data.gesperrt"/>
					</div>
				</div>
				<!--<div class="col-sm-2">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.kurzbz.$error.required)}">
						<label for="lvverzeichnis">Lehreverzeichnis*</label>
						<input strip-html type="text" class="form-control input-sm"  name="lehreverzeichnis" ng-model="newLvCtrl.data.lehreverzeichnis" required/>
					</div>
				</div>-->
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.bezeichnung.$error.required)}">
						<label for="bezeichnung">Bezeichnung*</label>
						<input strip-html type="text" class="form-control input-sm" name="bezeichnung" ng-model="newLvCtrl.data.bezeichnung" required ng-disabled="newLvCtrl.data.gesperrt"/>
					</div>
				</div>
                <div class="col-sm-6">
					<div class="form-group">
						<label for="bezeichnung_englisch">Bezeichnung Englisch</label>
						<input strip-html type="text" class="form-control input-sm"  name="bezeichnung_englisch" ng-model="newLvCtrl.data.bezeichnung_english" ng-disabled="newLvCtrl.data.gesperrt"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.oe.$error.required)}">
						<label for="oe">Organistaionseinheit*</label>
						<select class="form-control input-sm" name="oe" ng-model="newLvCtrl.data.oe_kurzbz" required ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="oe in newLvCtrl.oeList" value="{{oe.oe_kurzbz}}" ng-class="{greyedout: (!oe.aktiv && oe.aktiv != null)}">{{oe.organisationseinheittyp_kurzbz}} - {{oe.bezeichnung}}{{(!oe.aktiv && oe.aktiv != null)?" - inaktiv!":""}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && (form.orgform.$error.required && !newLvCtrl.data.gesperrt))}">
						<label for="orgform">Organisationsform*</label>
						<select class="form-control input-sm" name="orgform" ng-model="newLvCtrl.data.orgform_kurzbz" ng-required="!newLvCtrl.data.gesperrt" ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="orgform in newLvCtrl.orgformList" value="{{orgform.orgform_kurzbz}}">{{orgform.bezeichnung}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.studiengang.$error.required)}">
						<label for="studiengang">Studiengang*</label>
						<select class="form-control input-sm" name="studiengang" ng-model="newLvCtrl.data.studiengang_kz" required ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="studiengang in newLvCtrl.studiengangList" value="{{studiengang.studiengang_kz}}">{{studiengang.typ | uppercase}} - {{studiengang.bezeichnung}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" ng-class="{'has-error': (form.$submitted && form.sprache.$error.required)}">
						<label for="sprache">Sprache*</label>
						<select class="form-control input-sm" name="sprache" ng-model="newLvCtrl.data.sprache" required ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="sprache in newLvCtrl.spracheList">{{sprache.sprache}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="semester">Semester</label>
						<select class="form-control input-sm" name="semester" ng-model="newLvCtrl.data.semester" ng-disabled="newLvCtrl.data.gesperrt">
							<option ng-repeat="semester in newLvCtrl.semesterList" value="{{semester}}">{{semester}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label for="ects">ECTS</label>
						<input numeric-only='positive' type="text" class="form-control input-sm"  name="ects" ng-model="newLvCtrl.data.ects" ng-disabled="newLvCtrl.data.gesperrt"/>
					</div>
				</div>
				<!--TODO tooltips definieren-->
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="sws">SWS</label>
						<div class="input-group">
							<input numeric-only="positive" style="min-width: 40px" type="text" class="form-control input-sm" name="sws" ng-model="newLvCtrl.data.sws" ng-disabled="newLvCtrl.data.gesperrt"/>
							<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Semesterwochenstunden"><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="lvs">LVS</label>
						<div class="input-group">
							<input integer-only="positive" style="min-width: 40px" type="text" class="form-control input-sm"  name="lvs" ng-model="newLvCtrl.data.lvs" ng-disabled="newLvCtrl.data.gesperrt"/>
							<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Lehrveranstaltungsstunden (LVS) Die Summe an Stunden welche Studierende konsumieren. Im Gegensatz zu den ALVS handelt es sich hier um die Sicht eines einzelnen Studierenden. (Nicht eingerechnet werden zusätzlich zu leistende Stunden um die entsprechenden ECTS-Punkte zu erhalten, also unbetreute Stunden.)"><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="alvs">ALVS</label>
						<div class="input-group">
							<input integer-only="positive" style="min-width: 40px" type="text" class="form-control input-sm"  name="alvs" ng-model="newLvCtrl.data.alvs"/>
							<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Angebotene Lehrveranstaltungsstunden (ALVS) Die Summe der Stunden einer Lehrveranstaltung, welche aus Sicht des Studiengangs geleistet bzw. angeboten werden. Durch Gruppenteilung erhöhen sich die ALVS gegenüber der LVS."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="lvps">LVPLS</label>
						<div class="input-group">
							<input integer-only="positive" style="min-width: 40px" type="text" class="form-control input-sm"  name="lvps" ng-model="newLvCtrl.data.lvps"/>
							<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="LV-Plan Stunden (LVPLS) Summe der Stunden welche tatsächlich im LV-Plan eingetragen werden. Studierende sind in diesen Stunden an Zeit und Ort gebunden."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="las">LAS</label>
						<div class="input-group">
							<input numeric-only="positive" style="min-width: 60px" type="text" class="form-control input-sm"  name="las" ng-model="newLvCtrl.data.las"/>
							<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Lehrauftragstunden (bisher: Semesterstunden) Summe der Stunden für welche ein Lehrauftrag angelegt wird."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
						</div>
					</div>
				</div>
<!--				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="semesterstunden">Semesterstunden</label>
						<input integer-only="positive" type="text" class="form-control input-sm"  name="semesterstunden" ng-model="newLvCtrl.data.semesterstunden"/>
					</div>
				</div>-->
				<!--
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="semester_alternativ">Sem alternativ</label>
						<input integer-only="positive" type="text" class="form-control input-sm"  name="semester_alternativ" ng-model="newLvCtrl.data.semester_alternativ"/>
					</div>
				</div>
			-->
				<div class="col-sm-2">
					<div class="form-group">
						<label for="sort">Sort</label>
						<input integer-only type="text" class="form-control input-sm"  name="sort" ng-model="newLvCtrl.data.sort"/>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<label for="anmerkung">Anmerkung</label>
						<input strip-html type="text" class="form-control input-sm"  name="anmerkung" ng-model="newLvCtrl.data.anmerkung"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="checkbox">
						</br>
						<label>
							<!--<input type="checkbox" name="aktiv" ng-model="newLvCtrl.data.aktiv" ng-disabled="newLvCtrl.data.gesperrt"/>-->
							<input type="checkbox" name="aktiv" ng-model="newLvCtrl.data.aktiv" ng-disabled="newLvCtrl.data.aktivGesperrt"/>
							Aktiv
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						</br>
						<label>
							<input type="checkbox" name="lehre"  ng-model="newLvCtrl.data.lehre"/>
							Lehre/CIS
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						</br>
						<label>
							<input type="checkbox" name="lvinfo" ng-model="newLvCtrl.data.lvinfo"/>
							LV-Info
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						</br>
						<label>
							<input type="checkbox" name="benotung" ng-model="newLvCtrl.data.benotung"/>
							Bewertung
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						</br>
						<label>
							<input type="checkbox" name="zeugnis" ng-model="newLvCtrl.data.zeugnis"/>
							Zeugnis
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						</br>
						<label>
							<input type="checkbox" name="lehrauftrag" ng-model="newLvCtrl.data.lehrauftrag"/>
							Lehrauftrag
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="lvnr">LVNR</label>
						<input type="text" class="form-control input-sm"  name="lvnr" ng-model="newLvCtrl.data.lvnr" ng-disabled="newLvCtrl.data.gesperrt"/>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="incomingplaetze">Incomingplätze</label>
						<input integer-only="positive" type="text" class="form-control input-sm"  name="incomingplaetze" ng-model="newLvCtrl.data.incoming"/>
					</div>
				</div>
				<div class="col-sm-5" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="raumtyp">Raumtyp</label>
						<select class="form-control input-sm" name="raumtyp" ng-model="newLvCtrl.data.raumtyp_kurzbz">
							<option ng-repeat="raumtyp in newLvCtrl.raumtypList" value="{{raumtyp.raumtyp_kurzbz}}">{{raumtyp.beschreibung}}</option>
						</select>
					</div>
				</div>
			</div>
			<!--<div class="row">
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="planlektoren">Planlektoren</label>
						<input integer-only="positive" type="text" class="form-control input-sm"  name="planlektoren" ng-model="newLvCtrl.data.planlektoren"/>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="planpersonalkosten">Planpersonalkosten</label>
						<input numeric-only='positive' type="text" class="form-control input-sm"  name="planpersonalkosten" ng-model="newLvCtrl.data.planpersonalkosten"/>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="plankostenprolektor">Plankosten/Lektor</label>
						<input numeric-only='positive' type="text" class="form-control input-sm"  name="plankostenprolektor" ng-model="newLvCtrl.data.plankostenprolektor"/>
					</div>
				</div>
			</div>-->
			<div class="row">
				<!--
				<div class="col-sm-3">
					<div class="form-group">
						<label for="farbe">Farbe</label>
						<div class="input-group">
							<input strip-html id="farbe" type="text" class="form-control input-sm" name="farbe" ng-model="newLvCtrl.data.farbe" ng-change="newLvCtrl.updateColor()"/>
							<span class="input-group-addon"><span id="farbevorschau" style="background-color: #; border: 1px solid #999999; cursor: default;">&nbsp&nbsp&nbsp&nbsp</span></span>
						</div>
					</div>
				</div>
			-->
				<!--
				<div class="col-sm-3">
					<div class="form-group">
						<label for="anzahlsemester">Anzahl Semester</label>
						<input integer-only="positive" type="text" class="form-control input-sm"  name="anzahlsemester" ng-model="newLvCtrl.data.anzahlsemester"/>
					</div>
				</div>
			-->
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="form-group">
						<label for="semesterwochen">Semesterwochen</label>
						<div class="input-group">
							<input integer-only="positive" style="min-width: 40px" type="text" class="form-control input-sm"  name="semesterwochen" ng-model="newLvCtrl.data.semesterwochen"  ng-disabled="newLvCtrl.data.gesperrt"/>
							<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title="Semesterwochen."><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-2" ng-show="newLvCtrl.data.lehrtyp_kurzbz!='modul'">
					<div class="checkbox">
						</br>
						<label>
							<input type="checkbox" name="projektarbeit" ng-model="newLvCtrl.data.projektarbeit"/>
							Projektarbeit
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<div class="form-group">
						<div>
							<button ng-show="!newLvCtrl.data.lehrveranstaltung_id" type="submit" class="btn btn-success btn-sm" ng-click="newLvCtrl.loadSuggestion()">Vorschlag laden</button>
							<button ng-show="newLvCtrl.data.lehrveranstaltung_id" type="submit" class="btn btn-success btn-sm" ng-click="newLvCtrl.updateLehrveranstaltung()">Speichern</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-sm-6">
		<h2>Vorschläge</h2>
		<table class="table" style="width: 100%">
			<thead>
				<tr>
					<th width="40px"></th>
					<th>Lehrveranstaltung</th>
					<th width="60px">ECTS</th>
					<th width="60px">Lehrtyp</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!newLvCtrl.data.lehrveranstaltung_id && form.$pristine && !form.$dirty && form.$submitted">
					<td><input form="newLehrveranstaltung" type="submit" class="btn btn-success btn-sm" ng-click="newLvCtrl.saveLehrveranstaltung()" value="erstellen" /></td>
					<td colspan="3">neue Lehrveranstaltung anlegen</td>
				</tr>
				<tr ng-repeat="lv in newLvCtrl.lvSuggestionList" ng-show="newLvCtrl.lvSuggestionList.length > 0">
					<td><button ng-show="lv.aktiv" class="btn btn-primary btn-sm" ng-click="stplCtrl.setFilter(lv.lehrveranstaltung_id, lv.oe_kurzbz, lv.lehrtyp_kurzbz, lv.semester)">auswählen</button></td>
					<td>{{lv.bezeichnung}}</td>
					<td>{{lv.ects}}</td>
					<td>{{lv.lehrtyp_kurzbz}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
