<div class="contentWrapper" ng-controller="StgStammdatenCtrl as ctrl">
	<h1>Studiengangsgruppen</h1>	
	
	<div ng-if="!ctrl.zuordnung.stgkz">
		<div ng-repeat="root in ctrl.data track by $index" class="row">
			<div class="col-sm-3">
				<h2>{{root.data[0].label}}</h2>
				<div class="form-group">
					<select ng-if="root.data[0].children" ng-model='ctrl.model.data[$index][$index]' class="form-control input-sm" ng-change="ctrl.changed()">
						<option ng-repeat="child in root.data[0].children">{{child.code}} - {{child.label}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<h2>&nbsp;</h2>
				<div class="form-group">
					<select ng-if="ctrl.model.data[$index]" ng-model='ctrl.model.data[$index][$index+1]' class="form-control input-sm">
						<option ng-repeat="child in (children = (root.data[0].children | filter : {code : (ctrl.model.data[$index][$index]).split(' ')[0]}:true))[0].children">{{child.code}} - {{child.label}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<h2>&nbsp;</h2>
				<div class="form-group">
					<select ng-if="ctrl.model.data[$index][$index+1] &&(root.data[0].children[0].children[0].children).length" ng-model='ctrl.model.data[$index][$index+2]' class="form-control input-sm">
						<option ng-repeat="child in (((children = (root.data[0].children | filter : {code : (ctrl.model.data[$index][$index]).substring(0,1)}:true))[0].children) | filter : {code : (ctrl.model.data[$index][$index+1]).split(' ')[0]} : true)[0].children">{{child.code}} - {{child.label}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="ctrl.zuordnung.stgkz">
		<div ng-repeat="root in ctrl.zuordnung.data track by $index">
			<h2 ng-if="$index==0" style="padding-left: 40px;">Statistik Austria</h2>
			<h2 ng-if="$index==1" style="padding-left: 40px;">ISCED</h2>
			<ul class=list-group"">
				<li class="list-group-item" ng-repeat="group in root">{{group}}</li>
			</ul>
		</div>
		<div class="row" style="padding-left: 40px;">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.deleteZuordnung()">Löschen</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>