<div class="contentWrapper" ng-controller="StoMetadatenCtrl as ctrl">
	<!-- TODO Beschlussdaten -->
	<form id="stoMetadaten" onsubmit="return false;">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="version">Version</label>
					<input type="text" class="form-control" name="version" value="{{ctrl.data.bezeichnung}}" disabled/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="aenderungsvariante">Änderungsvariante</label>
					<select class="form-control" name="aenderungsvariante" ng-model="ctrl.data.aenderungsvariante_kurzbz">
						<option ng-repeat="av in ctrl.aenderungsvarianteList" value="{{av.aenderungsvariante_kurzbz}}">{{av.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="status">Status</label>
					<input type="text" class="form-control" name="status" ng-model="ctrl.data.status_kurzbz" disabled/>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="gueltigvon">Gültig von</label>
					<select class="form-control" name="gueltigvon" ng-model="ctrl.data.gueltigvon">
						<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="gueltigbis">Gültig bis</label>
					<select class="form-control" name="gueltigbis" ng-model="ctrl.data.gueltigbis">
						<option ng-repeat="sem in ctrl.studiensemesterList">{{sem.beschreibung != NULL ? sem.beschreibung : sem.studiensemester_kurzbz}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="status">Begründung</label>
					<textarea class="form-control" rows="5" name='begruendung' ng-model="ctrl.data.begruendung"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-default" ng-click="ctrl.save()">Speichern</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>