<div class="contentWrapper" ng-controller='StoDiffController as stoCtrl'>
	<form id="stoDiff" onsubmit="return false;">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="studiengang">Studiengang</label>
					<select class="form-control input-sm" name="studiengang" ng-model="stoCtrl.old.stgkz" ng-change="stoCtrl.loadStudienordnungList(stoCtrl.old)">
						<option ng-repeat="stg in stoCtrl.studiengangList" value="{{stg.studiengang_kz}}">{{stg.kurzbzlang}} - {{stg.bezeichnung}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="studiengang">Studiengang</label>
					<select class="form-control input-sm" name="studiengang" ng-model="stoCtrl.new.stgkz" ng-change="stoCtrl.loadStudienordnungList(stoCtrl.new)">
						<option ng-repeat="stg in stoCtrl.studiengangList" value="{{stg.studiengang_kz}}">{{stg.kurzbzlang}} - {{stg.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group" ng-show="stoCtrl.old.studienordnungList.length > 0">
					<label for="studienordnung">Studienordnung</label>
					<select class="form-control input-sm" name="studienordnung" ng-model="stoCtrl.old.studienordnung_id" ng-change="stoCtrl.loadStudienplanList(stoCtrl.old)">
						<option ng-repeat="sto in stoCtrl.old.studienordnungList" value="{{sto.studienordnung_id}}">{{sto.bezeichnung}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group" ng-show="stoCtrl.new.studienordnungList.length > 0">
					<label for="studienordnung">Studienordnung</label>
					<select class="form-control input-sm" name="studienordnung" ng-model="stoCtrl.new.studienordnung_id" ng-change="stoCtrl.loadStudienplanList(stoCtrl.new)">
						<option ng-repeat="sto in stoCtrl.new.studienordnungList" value="{{sto.studienordnung_id}}">{{sto.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group" ng-show="stoCtrl.old.studienplanList.length > 0">
					<label for="studienplan">Studienplan</label>
					<select class="form-control input-sm" name="studienplan" ng-model="stoCtrl.old.studienplan_id">
						<option ng-repeat="stpl in stoCtrl.old.studienplanList" value="{{stpl.studienplan_id}}">{{stpl.bezeichnung}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group" ng-show="stoCtrl.new.studienplanList.length > 0">
					<label for="studienplan">Studienplan</label>
					<select class="form-control input-sm" name="studienplan" ng-model="stoCtrl.new.studienplan_id">
						<option ng-repeat="stpl in stoCtrl.new.studienplanList" value="{{stpl.studienplan_id}}">{{stpl.bezeichnung}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-success btn-sm" ng-click="stoCtrl.loadDiff()">Vergleich laden</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div ng-repeat="(header, item) in stoCtrl.diff">
		<div class="row">
			<div class="col-sm-10">
				<a href="#" ng-model="collapse[header]" ng-click="collapse[header] = !collapse[header]"><h2>{{header}}<img ng-show="!collapse[header]" src="../../../skin/images/asc.gif" alt=""/><img ng-show="collapse[header]" src="../../../skin/images/desc.gif" alt=""/></h2></a>
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col-sm-3 bold">{{prop}}</div>
				<div class="col-sm-3" ng-bind-html="diff.old"></div>
				<div class="col-sm-3" ng-bind-html="diff.diff"></div>
			</div>
			<table class="table" width="800" ng-show="collapse[header]" ng-repeat="(header, item) in stoCtrl.diff">
				<thead>
				<th width="250"></th>
				<th width="350"></th>
				<th width="350"></th>
				</thead>
				<tbody>
					<tr ng-repeat="(prop,diff) in item">
						{{prop}}
						<td class="bold">{{prop}}</td>
						<td ng-if="prop!='Auslandssemester' && prop!='Berufspraktikum'" ng-bind-html="diff.old"></td>
						<td ng-if="prop=='Auslandssemester' || prop=='Berufspraktikum'" ng-bind-html="stoCtrl.insertHTML(diff.old)"></td>
						<td ng-bind-html="stoCtrl.insertHTML(diff.diff)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>