<div class="contentWrapper" ng-controller="StplStudienjahrCtrl as ctrl">
	<div class="col-sm-2">
		<label>&nbsp;</label>
		<div>
			<button class='btn btn-default btn-sm' ng-click='ctrl.newStudienjahr()' id="newStudienjahr">neues Studienjahr</button>
		</div>
	</div>
	</br>
	</br>
	</br>
	</br>
	<table id="dataGridStudienjahr" class="easyui-datagrid" style='height: 200px;'>
		
	</table>
	</br>
	<form id="stplStudienjahrDetails" name="form" onsubmit="return false;" novalidate style="display: none;">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="allgemeines">Allgemeines</label>
					<div class="input-group">
						<textarea class="form-control input-sm" name="allgemeines" size="10" ng-model="ctrl.studienjahr.data.allgemeines"></textarea>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="studienjahr">Studienjahr</label>
					<div class="input-group" ng-class="{'has-error': (form.$submitted && form.studienjahr.$error.required)}">
						<select class="form-control input-sm" name="studienjahr" ng-model="ctrl.studienjahr.studienjahr_kurzbz" required>
							<option ng-repeat="studienjahr in ctrl.studienjahrList">{{studienjahr.studienjahr_kurzbz}}</option>
						</select>
						<!--<input type="text" class="form-control input-sm" name="studienjahr" ng-model="ctrl.studienjahr.bezeichnung"/>-->
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="gueltigFuer">Gültig für Ausbildungssemester</label>
					<div class="row" id="gueltigFuer">
						<div class="col-sm-1" ng-repeat="i in ctrl.range(ctrl.data.regelstudiendauer) track by $index">
							<label>{{i}}</label>
							<input type="checkbox" ng-model="ctrl.studienjahr.data.gueltigFuer[$index+1]"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="studienjahr">Studienjahr</label>
					<div class="input-group">
						<span class="form-control input-sm" style="height:50px;">Das Studienjahr besteht aus dem WS, dem SS und den LV-freien Zeiten. Es beginnt und endet in einer fixen Kalenderwoche.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_studienjahr">Beginn KW</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_studienjahr" ng-model="ctrl.studienjahr.data.studienjahr.beginn"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_studienjahr">Ende KW</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_studienjahr" ng-model="ctrl.studienjahr.data.studienjahr.ende"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_studienjahr">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_studienjahr" ng-model="ctrl.studienjahr.data.studienjahr.wochenAnzahl"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="wintersemester">Wintersemester</label>
					<div class="input-group">
						<span class="form-control input-sm">Das WS beginnt und endet in einer fixen Kalenderwoche.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_wintersemester">Beginn KW</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_wintersemester" ng-model="ctrl.studienjahr.data.wintersemester.beginn"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_wintersemester">Ende KW</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_wintersemester" ng-model="ctrl.studienjahr.data.wintersemester.ende" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_wintersemester">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_wintersemester" ng-model="ctrl.studienjahr.data.wintersemester.wochenAnzahl" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="lvWochenAnzahl_wintersemester">Zahl der LV-Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="lvWochenAnzahl_wintersemester" ng-model="ctrl.studienjahr.data.wintersemester.lvWochenAnzahl" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="weihnachtsferien">Weihnachtsferien</label>
					<div class="input-group">
						<span class="form-control input-sm" style="height:70px;">Die Weihnachtsferien beginnen üblicherweise am 24.12 und enden am 06.01. des Folgejahres. Aufgrund von "Fenstertagen" können das Beginn- oder Endedatum in Ausnahmefällen davon abweichen.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_weihnachtsferien">Beginn</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_weihnachtsferien" ng-model="ctrl.studienjahr.data.weihnachtsferien.beginn" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_weihnachtsferien">Ende</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_weihnachtsferien" ng-model="ctrl.studienjahr.data.weihnachtsferien.ende" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_weihnachtsferien">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_weihnachtsferien" ng-model="ctrl.studienjahr.data.weihnachtsferien.wochenAnzahl" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="semesterferien">Semesterferien</label>
					<div class="input-group">
						<span class="form-control input-sm">Die Semesterferien beginnen und enden in einer fixen Kalenderwoche.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_semesterferien">Beginn</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_semesterferien" ng-model="ctrl.studienjahr.data.semesterferien.beginn" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_semesterferien">Ende</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_semesterferien" ng-model="ctrl.studienjahr.data.semesterferien.ende" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_semesterferien">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_semesterferien" ng-model="ctrl.studienjahr.data.semesterferien.wochenAnzahl" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="sommersemester">Sommersemester</label>
					<div class="input-group">
						<span class="form-control input-sm">Das SS beginnt und endet in einer fixen Kalenderwoche.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_sommersemester">Beginn KW</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_sommersemester" ng-model="ctrl.studienjahr.data.sommersemester.beginn" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_sommersemester">Ende KW</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_sommersemester" ng-model="ctrl.studienjahr.data.sommersemester.ende" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_sommersemester">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_sommersemester" ng-model="ctrl.studienjahr.data.sommersemester.wochenAnzahl" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="lvWochenAnzahl_sommersemester">Zahl der LV-Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="lvWochenAnzahl_sommersemester"  ng-model="ctrl.studienjahr.data.sommersemester.lvWochenAnzahl"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="osterferien">Osterferien</label>
					<div class="input-group">
						<span class="form-control input-sm" style="height:70px;">Die Weihnachtsferien beginnen üblicherweise am 24.12 und enden am 06.01. des Folgejahres. Aufgrund von "Fenstertagen" können das Beginn- oder Endedatum in Ausnahmefällen davon abweichen.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_osterferien">Beginn</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_osterferien" ng-model="ctrl.studienjahr.data.osterferien.beginn"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_osterferien">Ende</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_osterferien" ng-model="ctrl.studienjahr.data.osterferien.ende" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_osterferien">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_osterferien" ng-model="ctrl.studienjahr.data.osterferien.wochenAnzahl"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="sommerferien">Sommerferien</label>
					<div class="input-group">
						<span class="form-control input-sm" style="height:70px;">Die Weihnachtsferien beginnen üblicherweise am 24.12 und enden am 06.01. des Folgejahres. Aufgrund von "Fenstertagen" können das Beginn- oder Endedatum in Ausnahmefällen davon abweichen.</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="beginn_sommerferien">Beginn</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="beginn_sommerferien" ng-model="ctrl.studienjahr.data.sommerferien.beginn"/>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="ende_sommerferien">Ende</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="ende_sommerferien" ng-model="ctrl.studienjahr.data.sommerferien.ende" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="wochenAnzahl_sommerferien">Zahl der Wochen</label>
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="wochenAnzahl_sommerferien" ng-model="ctrl.studienjahr.data.sommerferien.wochenAnzahl" />
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="eraleuterungen">Präsenzzeiten/Erläuterungen</label>
					<div class="input-group">
						<textarea class="form-control input-sm" name="eraleuterungen" size="20" ng-model="ctrl.studienjahr.data.erlaeuterungen"></textarea>
						<span class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="right" title=""><span style="font-size: 1em;" class="glyphicon glyphicon-info-sign glyph" aria-hidden="true"></span></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<div>
						<button id="update" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()">Speichern</button>
						<button id="save" type="submit" class="btn btn-success btn-sm" ng-click="ctrl.save()" style="display:none;">Speichern</button>
						<button id="delete" type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.delete()">Löschen</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>